*{
    margin: 0;
    padding: 0;
   
    
    
}

.hotel_container{
    /* background: url(hotelbgphoto.jpg); */
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center; 
    
}

.sale-roll{
    background-color: black;
    color: white;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 10px;
}

.main_card{
    flex-wrap: wrap;
    display: left;
    float: left;
    justify-content: space-between;

}

.hotelwritten{
    /* padding-left: 650px; */
   margin-top: 20px;
   padding-top: 10px;
    letter-spacing: 13px;
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 5px;
   margin-left: 600px;
    opacity: 0.7;
    align-items: center;
}

.hotel_cards{
    width: 18%;
    background-color: greenyellow;
    border-radius: 10px;
    margin: 40px;
    justify-content: space-evenly;
   float: left;
   margin-left: 20px;
   margin-right: 10px;
    
    
}

.image img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
 
.hotel_name{
    text-align: center;
}

.hotel_info{
    text-align: center;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

 