*{
    margin: 0;
    padding: 0;
}

.btw-wrote{
    width: 100%;
    height: 66vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.maintext{
    font-size: 100px;
    font-family: 'Allura', cursive;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Young Serif', serif;
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    
    
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.subtext{
    font-size: 24px;
    padding-left: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    letter-spacing: 15px;
}

.main{
    background: url(https://images.unsplash.com/photo-1610518353750-8f73e6fd1059?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1854&q=80);
    /* background: url(https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80); */
    height: 100vh;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    flex-direction: wrap; 
}

.navbar{
    width: 1500px;
    height: 100px;
    padding: 10px 20px;
    display: flex;
 
   
}

.icon{
    width: 250px;
    height: 80px;
    float: left;
    padding: 0%;
    padding-top: 10px;
    margin-right: 10px;
    
}

.logo{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    float: left;
    
 
     
}

.menu{
    width: 700px;
    height: 80px;
    float: left;

    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

ul li{
    list-style: none;
    margin-top: 32px;
    margin-left: 45px;
    font-size: 18px;
    padding-left: center
    ;

}


ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(255, 255, 255);
}
.search{
    background: transparent;
    border: 1px solid white;
    color: black;
    padding: 5px;
    margin-top: 28px;
    height: 10px;
    width: 150px;
    border-radius: 5px;
   
    
}




.login{
    
    background-color:white;
    text-decoration: none;
    color: black;
    text-transform: uppercase; 
    padding: 8px;
    border-radius: 5px;
    margin: 1px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.signup{

    background-color:  white;
    text-decoration: none;
    color:black;
    text-transform: uppercase; 
    padding: 8px;
    border-radius: 5px;
    margin: 1px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    


}

.signup:hover, .signup:focus, .signup:active{
    box-shadow: 0 0 20px rgb(251, 251, 251);
}

.login:hover, .login:focus, .login:active{
    box-shadow: 0 0 20px #fdfffb;
}

.logsin{
    margin-top: 30px;
    margin-left: 85px;
}

.logsin a{
    text-decoration: none;
}

.signup a{
    text-decoration: none;
}

.srhbtn i{
    color: black;
}

.srhbtn{
    margin-left: 45px;
    margin-top: 25px;
    border: 2px solid black;
    padding: 8px;
    width: 200px;
    margin-bottom: 38px;
    border-radius: 30px;
}

input{
    background: transparent;
    color: black;
    border: 0px;
    outline: 0px;
}

.icon_serach{
    color: black;
}

.srhbtn ::placeholder{
    color: black;
}


.srhbtn .srh a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: white;
    color: black;
}

.container1{
    background: url(https://images.unsplash.com/photo-1613744516210-fad1239fb6e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80);
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
   
    
}



.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 100px 50px; */
    gap: 20px;
    padding: 100px 38px;
    float: left;
    justify-content: space-around;
}

.container1 .card{
    position: relative;
    width: 350px;
    height: 300px;
    align-items: flex-start;
    background: #ffff;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    transition: 0.5s;   
}

.container1 .card:hover{
    height: 400px;
}

.container1 .card .imagebx{
    position: absolute;
    width: 255px;
    height: 220px;
    background-color: black;
}

.container1 .card>h1{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: black;
    margin-left: 25px;
    top: 20px;
    border-radius: 12px;
    transition: 0.5s;
}

.container1 .card:hover >h1{
    top: -100px;
    scale: 0.75;

}

.container1 .card>h1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.container1 .card .content{
    position: absolute;
    top: 250px;
    height: 30px;
    width: 200px;
    padding: 0 70px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    
}

.container1 .card:hover .content{
    top: 150px;
    height: 250px;

}

.container1 .card .content a{

    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: black;
   color: white;
   border-radius: 8px;

}


.heading-service{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

.heading-service h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    margin-top: 15px;
}

.heading-service h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.heading-service p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;

}

.container-service{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.2);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;

}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;

}

.about-content .read-more-service{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #4caf50;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more-service:hover{
    background-color: #3e8e41;

}

footer{
    background-color: black;
}

.footer-container{
    width: 100%;
    padding:  70px,30px,20px;
    padding-top: 15px;
}

.social-mediaitems{
    display: flex;
    justify-content: center;
}

.social-mediaitems a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-mediaitems a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-mediaitems a:hover{
    background-color: greenyellow;
    transition: 0.5s;
}

.footer-bottom{
    text-align: center;
    padding: 20px;
    background-color: #000;
}

.footer-bottom p{
    color: white;
}

.designer{
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.7;
}










